

.cent{
text-align: center;
font-family: 'Fredoka One', cursive;
margin-top: 10%;
margin-left: 10%;
margin-right: 20%;
text-align: left;
}
.margl{
margin-left:8%;}

.margl-e{
  margin-left:15%;}
.mao{
    margin-top: 5%;
    
    
    margin-left: 10%;
    margin-right: auto;
    text-align: left;

}
.aws {


    background: white;
    color: dodgerblue;

    min-width: 50px;
    height: 50px;
    border-radius: 80%;
    text-align: center;
    display: inline-block;
    line-height: 50px;

    
 }
 
.asas{
  
  align-items: left;
  align-self: left;
  justify-content: left;
  margin-left: 11.5%;
gap:2%;

min-width: 100%;
  margin-right: auto;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}


.icon { line-height: 50px;
  min-width: 50px;
  }
  
.demon{
  
  margin-top: 10%;
  }
  .aews {
    /* padding: 10px; */
    background: dodgerblue;
    color: white;
    min-width: 50px;
    height: 50px;
    border-radius: 80%;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    /* padding: 3%; */
    
}
.extrr{
  text-align: left;
  padding-left: 2em;
}
.extrr p{ 
  color: darkgray;
  line-height: 1.75em;
}
.extrr_e p{ 
  color: white;
  line-height: 1.75em;
  padding-left: 0.5em;
  display: table-cell;
  height: 50px;
  vertical-align:middle;
}


